*::before,
*::after {
	box-sizing: border-box;
}



body {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.7;
	color: #2b2b2b;
	background-color: #b2c4c783;
	margin: 0;
	padding: 0;
}

h4{
  font-size: 22px;
  font-family: "Roboto", Arial, sans-serif;
    
}
section span{
    font-size: 18px;
    font-weight: 500;

}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
   




}
.prima-pagina a::before {
    content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: contain;
	vertical-align: middle;
	margin-right: 2px;
	
}

p.icono-1::before{
    content:"";
    display: inline-block;
    background-image: url(/EsercizioPorfolio/Assets/img/logo-github.svg);
    width: 20px;
    height: 20px;
    transform: translateY(3.5px);

    
}



#site-header {
	background-color: hsl(308, 62%, 52%);
	background-image: url("../img/HeaderNEU121.jpg");
	border-bottom: 4px solid yellow;
	background-size: cover;
	background-position: center;
	color: #fdf3f3;
	text-align: center;
	line-height: 2.3;
	list-style-type: none;
	padding: 60px 20px 40px;



}



#site-header h1 {
	font-size: 3rem;
	font-weight: bold;
	font-style: italic;
	text-shadow: 0 2px 4px rgb(0, 0, 0, 0.2)
}




.tagline {
	color: rgb(255, 255, 255);
	font-style: italic;
	font-weight: bold;
	font-size: 22px;
}





nav a {
	color: hsl(0, 0%, 100%);
	font-weight: bold;
	line-height: 3;
	font-size: 20px;
	text-decoration: none;
	padding: 30px;

}



nav a:hover {
	color: #d6a3a3;
	background-color: rgba(242, 233, 243, 0.15);
	padding: 30px;

}




nav ul li {
	display: inline-block;
	margin: 0 5px;
	padding: 10px;
	margin-bottom: 29px;
	border: 2px solid #e0e0e0;
	border-radius: 5px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
	transform: translateY(30px);
}


main {
	max-width: 920px;
	margin: 0 auto;
	padding: 40px 20px;

}


main section {
	padding: 32px;
	margin-left: -150px;
	margin-right: -150px;
	margin-bottom: 24px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
	background-color: #8acfd4;
}
main section h1::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(/EsercizioPorfolio/Assets/img/disc-outline.svg);
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
	transform: translateY(-3px);
	margin-right: 5px;

}


#site-footer {
	background-color: hsl(0, 0%, 0%);
	color: #ffffff;
	text-align: center;
	font-size: 0.9rem;
	line-height: 2.4;
}